<div class="header">
  <img id="background-image"
    src="https://dmkz2i5qfmsty.cloudfront.net/2f5023a5-5dc9-4dfe-a853-b2f055ec0112.jpg"
    alt="">

  <div class="header-text">
    <div class="container">
      <h1>Nạp đầy năng lượng mỗi ngày với bữa ăn nhanh gọn</h1>
      <p>Tất cả chúng ta đều có một “chiếc pin dự trữ” để duy trì năng lượng trong suốt cả ngày. <br> Cảm giác tràn đầy năng
        lượng có thể nâng cao chất lượng cuộc sống của bạn một cách đáng kể</p>
      <button><a href="/menu/tat-ca/1">đặt ngay</a></button>
    </div>
  </div>
</div>
<div class="body">
  <div class="container">

    <div class="banner">
      <h1>pizza 4 sao</h1>
      <img src="https://media.fourstarpizza.ie/production/wp-content/uploads/2017/10/22114559/Food-and-inquiries-1.png"
        alt="">
    </div>
  </div>


  <div class="body-content">
    <h1>Nổi bật</h1>
    <p>Món ăn được mua nhiều nhất trong tháng</p>
    <div class="container">
      <div class="list_items">
        <ul>
          <li class="list_item">
            <div class="list_item-img">
              <img
                src="https://mcdonalds.vn/uploads/2018/food-categories/CSO_MilkCreamTea_S.png"
                alt="">
            </div>
            <div class="list_item-text">
              <h3>Trà sữa</h3>
              <span class="price">20.000</span>
              <button class="btn-order"><a href="/menu/trang-mieng-thuc-uong" style="color: #fff;">Đặt ngay</a></button>
            </div>
          </li>
          <li class="list_item">
            <div class="list_item-img">
              <img
                src="https://mcdonalds.vn/uploads/2018/food/ga-ran/6-wings.png"
                alt="">
            </div>
            <div class="list_item-text">
              <h3>Gà rán</h3>
              <span class="price">99.000</span>
              <button class="btn-order"><a href="/menu/ga-ran-quay" style="color: #fff;">Đặt ngay</a></button>
            </div>
          </li>
          <li class="list_item">
            <div class="list_item-img">
              <img
                src="https://mcdonalds.vn/uploads/2018/food/desserts/hotfudge_mcsundae.png"
                alt="">
            </div>
            <div class="list_item-text">
              <h3>Kem Sốt Socola</h3>
              <span class="price">20.000</span>
              <button class="btn-order"><a href="/menu/thuc-an-nhe" style="color: #fff;">Đặt ngay</a></button>
            </div>
          </li>
          <li class="list_item">
            <div class="list_item-img">
              <img
                src="https://mcdonalds.vn/uploads/2018/food/desserts/apple-hotpie.png"
                alt="">
            </div>
            <div class="list_item-text">
              <h3>Bánh táo nướng</h3>
              <span class="price">25.000</span>
              <button class="btn-order"><a href="/menu/thuc-an-nhe" style="color: #fff;">Đặt ngay</a></button>
            </div>
          </li>
        </ul>
      </div>
      {{!-- <div class="sideBar">
        <img src="https://i.pinimg.com/originals/01/f5/fb/01f5fb89974972e3c74570e4e6b64625.jpg" alt="">
        <div class="sideBar-content">
          <h1>Fast food</h1>
          <p>Lorem ipsum dolor sit amet.</p>
        </div>
      </div> --}}
    </div>

    <div class="banner">
      <h1>Hấp dẫn và khỏe mạnh</h1>
      <img src="https://tech.eu/wp-content/uploads/2015/01/shutterstock_225144091-1000x400.jpg" alt="">
    </div>
    <div class="banner">
      <h1>Ăn uống cùng bạn bè</h1>
      <img src="https://im.whatshot.in/img/2019/Nov/header-1000x400-1573737476.jpg" alt="">
    </div>
  </div>
</div>

